<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-3", style="position: static;">
     <%=render'users/userinfo',user: @user,book: @book%>
    </div>
    
    <div class= "col-md-8 offset-md-1">
      <h2>Book detail</h2>
      <table class="table">
        
        
          <tr>
            <td><%=link_to user_path(@user.id) do %>
              <%= image_tag @books.user.get_profile_image(80,80) %><br>
              <%= @books.user.name%>
              <%end%>
            </td>
            <td><%=link_to @books.title, book_path(@books.id)%></td>
            <td><%=@books.body%></td>
            <td><%=@books.tag%></td>
            <td id="favorite_buttons_<%= @books.id %>">
              <%=render "favorites/like" ,user: @user,book: @books%>
            </td>
            <td class='count'><%=render 'book_comments/count',books: @books%></td>
            <td>
              <div id="score_books_show_<%= @books.id %>"></div>
            </td>
            
            <% if @books.user==current_user%>
             <td><%=link_to "Edit",edit_book_path(@books.id),class: "btn btn-sm btn-success" %></td> 
             <td><%=link_to "Destroy",book_path(@books.id), method: :delete, class: "btn btn-sm btn-danger", "data-confirm" => "Are you sure?"%>
             </td>
            <%end%>
            </tr>
          </table>
          
          

          <div class="book_comments">
            <%= render 'book_comments/index' ,books: @books,user: @user%>
          </div>
           
            <div>
            <%= render "book_comments/comment",book: @books, book_comment: @book_comment %>
            </div>  <!--コメントが出る時、book自体の編集と削除ボタンは必要か？-->
            
            
            </tr>
        
      
    </div>
   </div>
</div>   

<script>
  // scriptファイルをどのidの部分に配置するかを指定
 raty(
   document.querySelector('#score_books_show_<%= @books.id %>'),
  {  
    //星画像の指定などのオプションをここに記述,
    starOn: "<%= asset_path('star-on.png') %>",
    starOff: "<%= asset_path('star-off.png') %>",
    starHalf: "<%= asset_path('star-half.png') %>",
    scoreName: "book[score]",
    score: "<%= @books.score %>",
    readOnly: true,
   });
  raty(elem,opt);
</script>