<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="d-flex flex-column vh-100">
    <header class="shadow-sm">
     <%=render 'layouts/header'%>
    </header>
    <main>
      <%= render 'layouts/flash' %>
      <div class="my-2">
        <% if user_signed_in?%>
        <div class=" d-flex offset-2 flex-wrap">
          <%= render 'searches/form' %>
          <%= render 'searches/tag'%>
        </div>
        <%end%>
      <%= yield %>
      </div>
    </main>
  </body>
  <fooder class="container mt-5">
    
  </fooder>
</html>
